*{
  font-family: exo;
}

/*Header and friends*/
header{
  display: block;
  height: 85px;

  padding: 10px;
}
hgroup{
  float: left;
}
hgroup h1{
  margin: 0px;

  text-transform: uppercase;
}
h3{
  margin: 0px;
  margin-left: 20px;
}
/*nav list*/
nav{
  float: right;
}
nav ul{
  list-style-type: none;

  margin-top: 27px;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  padding: 20px 15px 20px 15px;

  color: black;
  font-weight: 500;
  font-family: fantasy;
  text-decoration: none;

  /*if you change these make sure you change the ones in the hover aswel*/
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
nav ul li a:hover{
  /*background: rgba(12, 128, 144, 0.58);*/

  color: black;
  font-weight: 500;
  font-family: fantasy;
  text-decoration: none;

  /*if you change these make sure you change the ones in the basic aswel to match so it doesnt jump of its place*/
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/*nav icons for list*/
#home{
  background: url("../media/img/homeIcon.png");
}

/*Body and friends exclusive content*/
.centerContent{
  width: 960px;
  /*height: 500px;*/

  margin-left: auto;
  margin-right: auto;

  background: #c4dfff;

  padding: 10px;
}

/*content*/
.smallNumberContainer{
  width: 40px;
}
#tableContainer{
  width: auto;
  height: 330px;

  top: 0px;

  padding: 0px 15px 0px 70px;
  margin: 10px 0px;

  overflow: hidden;
  overflow-y: scroll;
}
table{
  display: inline-block;

  padding-right: 8%;
  padding-bottom: 25px;

  font-size: 17pt;
}
td{
  padding-right: 10px;
}

/*footer*/
footer{
  background: gray;
}

/*Media rules*/
@media screen and (max-width: 960px){
  .centerContent{
    width: 100%;
  }
}
