*{
  font-family: exo;
}
html, body{
  margin: 0px;
  padding: 0px;
}

/*Header and friends*/
header{
  display: block;
  height: 75px;
}
hgroup{
  float: left;
}
hgroup h1{
  margin: 0px;

  text-transform: uppercase;
}
h3{
  margin: 0px;
  margin-left: 20px;
}

nav{
  float: right;
}
nav ul{
  list-style-type: none;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  padding: 0px 15px 0px 15px;

  color: black;
  font-weight: 500;
  font-family: fantasy;
  text-decoration: none;
}

/*Body and friends exclusive content*/
.centerContent{
  width: 960px;
  height: 500px;

  margin-left: auto;
  margin-right: auto;

  background: #c4dfff;

  padding: 10px;
}

/*content*/
#tableContainer{
  padding: 15px;
}
table{
  display: inline-block;
}
#tableOf1{
  margin-left: 0px;
}

/*footer*/
footer{
  background: gray;
}

/*Media rules*/
@media screen and (max-width: 960px){
  .centerContent{
    width: 100%;
  }
}
