@import url(https://fonts.googleapis.com/css?family=Exo);
*{
  font-family: Exo;
  color: black;
  font-weight: 600;
}

body{
  background: url("../media/backgroundTexture.jpg");
}

/*Header and friends*/
.navbar{
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-brand{
  /*width: 100px;
  background: url("../media/BoterbloempjeLogoFull.gif") center center no-repeat;
  background-size: contain;*/
}

.navbar-brand h1{
  margin: 0px;
  margin-top: -20px;
  text-transform: uppercase;
}
.navbar-brand h3{
  margin: 0px;
  margin-left: 20px;
}

/*nav modifiers*/
nav ul li a{
  padding: 20px 15px 20px 15px;

  font-weight: 500;
  text-decoration: none;

  /*if you change these make sure you change the ones in the hover aswel*/
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
nav ul li a:hover{
  background: rgba(12, 128, 144, 0.58);

  font-weight: 600;
  text-decoration: none;

  /*if you change these make sure you change the ones*/
  border-left: 1px solid black;
  border-right: 1px solid black;
}
/*nav icons for list
#home{
  background: url("../media/img/homeIcon.png");
}
*/
/*Body and friends exclusive content*/
.centerContent{
  width: 960px;
  /*height: 500px;*/

  margin-left: auto;
  margin-right: auto;

  background: rgba(128, 182, 255, 0.95);

  padding: 10px;
}

/*content*/
.subtext{
  color: rgb(87, 87, 87);

  position: relative;
  top: 10px;

  vertical-align: sub;
}

/*H1 open and closing arrows css*/
h1, .arrow{
  cursor: pointer;
}
h1 .arrow{
  display: inline-block;
  width: 37.5px;
  height: 37.5px;

  margin-left: 10px;

  background: url("../media/arrowSprite.png") no-repeat top right;
  background-size: 75px;
}
h1:hover .arrow{
  background: url("../media/arrowSprite.png") no-repeat bottom left;
  background-size: 75px;
}
h1.open .arrow{
  background: url("../media/arrowSprite.png") no-repeat bottom right;
  background-size: 75px;
}
h1.open:hover .arrow{
  background: url("../media/arrowSprite.png") no-repeat top left;
  background-size: 75px;
}
/*End of! H1 open and closing arrows css*/

.padding{
  padding-top: 20px;
}
#userInformation{
  display: inline-block;
  max-width: 200px;
}
.smallNumberContainer{
  width: 40px;
  padding-left: 5px;

  background: rgb(101, 165, 249);
}
#tableContainer{
  width: auto;
  height: 330px;

  top: 0px;

  padding: 0px 15px 0px 70px;
  margin: 10px 0px;

  overflow: hidden;
  overflow-y: scroll;
}
table{
  display: inline-block;

  padding-right: 8%;
  padding-bottom: 25px;

  font-size: 17pt;
}
td{
  text-align: right;
  padding-right: 10px;
}

input{
  width: 60px;
}
.correct{
  background-color: rgba(18, 167, 0, 0.5);
}
.wrong{
  background-color: rgba(226, 9, 9, 0.5);
}
#practiceTables{
  display: none;
}
/*footer*/
footer{
  margin-top: 15px;
  padding: 10px;

  clear: both;

  background: gray;
}

/*Still needs to be placed correctly*/
.choiceContainer{
  width: 100%;

  overflow: auto;

  padding-left: 10px;
  padding-right: 10px;
}

#oefenen, #toetsen{
  width: 50%;
  height: 300px;

  border: solid black 2px;
}

#oefenen:hover, #toetsen:hover{
  border: solid white 2px;

  cursor: pointer;
}

#oefenen{
  float: left;

  background: white url("../media/oefenen.gif") no-repeat bottom right;
  background-size: cover;
}
#toetsen{
  float: right;

  background: gray url("../media/toets.gif") no-repeat bottom right;
  background-size: cover;
}

/*Media rules*/
@media screen and (max-width: 960px){
  .centerContent{
    width: 100%;
  }
}
@media screen and (max-width: 640px){
  #oefenen, #toetsen{
    clear:both;
    float: none;

    width: 300px;
  }
}

.test{
  width: 40%;

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  height: 140px;
}

.test input{
  width: 200px;
  height: 40px;

  margin: 0px;

  text-align: center;
  border: 0px;
}
.test input:last-child{
  border: 1px solid black;
}

.questionContainer{
  position: relative;
  left: 70px;
  bottom: 121px;
}

/*progress bar*/
.progressContainer {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 30px;

  position: relative;
}
.vertical {
  display: inline-block;
  width: 150px;
  height: 40px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);

  position: relative;
  right: 50px;
}
.vertical {
  box-shadow: inset 0px 4px 6px #ccc;
}
/*Bootstrap overrides*/
.progress-bar {
  box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}
/*end progress-bar*/
.btn-primary{
  width: 90px;
}
